@charset "UTF-8";body{margin:0;font-family:Inter,sans-serif}*{box-sizing:border-box}html,body{margin:0;padding:0;overflow-x:hidden;width:100%}img{max-width:100%;height:auto}html{scroll-behavior:smooth}
