<head>
    <title>Grupo Gorev - PERSALUD</title>
</head>
<div class="container-home">
    <div class="title-home animate__animated animate__fadeIn animate__slow">
        <h1>PERSALUD</h1>
    </div>
</div>

<div class="quienes-somos-container animate__animated animate__fadeIn animate__slow">
    <div class="video-wrapper">
        <video preload="metadata" loading="lazy" #videoEl muted (timeupdate)="updateProgress()" (ended)="onEnded()">
            <source src="video/video-persalud.mp4" type="video/mp4" />
            Tu navegador no soporta el video.
        </video>

        <!-- Botón de play central -->
        <button class="custom-play-button" *ngIf="!isPlaying" (click)="togglePlay($event)">
            <i class="fas fa-play"></i>
        </button>

        <!-- Controles personalizados -->
        <div class="controls" *ngIf="isPlaying">
            <button class="pause-play-btn" (click)="togglePlay($event)">
                <i class="fas" [ngClass]="isPaused ? 'fa-play' : 'fa-pause'"></i>
            </button>
            <div class="time-info">{{ currentTime }} / {{ duration }}</div>
            <input type="range" class="progress-bar" min="0" [max]="videoDuration" [(ngModel)]="currentTimeValue"
                (input)="seekVideo($event)" />
        </div>
    </div>
    <div class="texto-container animate__animated animate__fadeIn animate__slow">
        <h1 class="titulo">PERSALUD</h1>
        <div class="extra">
            <h4 class="subtitulo">— ¿Qué es? </h4>
            <div class="icons">
                <a target="_blank" href="https://www.instagram.com/persalud.fl?igsh=MTVxNTJqeXBxYXFvaQ=="><i
                        class="fab fa-instagram"></i></a>
                <a target="_blank" href="https://www.tiktok.com/@persalud?_t=ZM-8xj9niAV9CI&_r=1"><i
                        class="fab fa-tiktok"></i></a>
            </div>
        </div>
        <p class="descripcion">
            PERSALUD es un seguro legal creado por Grupo Gorev para proteger a médicos, psicólogos, enfermeros y otros
            profesionales del sector salud frente a contingencias legales que puedan surgir en el ejercicio de su
            profesión. Brinda cobertura jurídica en auditorías, denuncias, demandas y conflictos administrativos o
            laborales, ofreciendo defensa especializada, ágil y efectiva.
        </p>
        <div class="ref-button">
            <a href="https://wa.me/51912499956?text=Hola,%20necesito%20m%C3%A1s%20informaci%C3%B3n"
                target="_blank">Solicitar asesoria ahora</a>
        </div>
    </div>
    <div class="logo-flot">
        <img src="images/persalud-logo.png" alt="">
    </div>
</div>

<section class="publico-dirigido animate__animated animate__fadeIn animate__slow">
    <div class="publico-dirigido__banner">
        <h2>¿A quién está dirigido?</h2>
        <p>
            A profesionales del sector salud, incluyendo médicos, psicólogos, obstetras, odontólogos, enfermeros,
            técnicos en salud y trabajadores asistenciales del sistema público y privado.
        </p>
    </div>

    <div class="servicios">
        <h3 class="servicios__titulo">Servicios principales:</h3>
        <div class="servicios__grid">
            <div class="servicio-card">
                Defensa ante denuncias por presunta negligencia médica
            </div>
            <div class="servicio-card move-card">
                Representación en procesos administrativos y auditorías clínicas
            </div>
            <div class="servicio-card">
                Asesoría y defensa en casos de violencia contra el personal de salud
            </div>
            <div class="servicio-card ">
                Conflictos laborales, incumplimientos contractuales o despidos arbitrarios
            </div>
            <div class="servicio-card move-card">
                Asistencia jurídica ante demandas civiles o penales vinculadas al acto médico
            </div>
            <div class="servicio-card">
                Acompañamiento en fiscalizaciones de entidades reguladoras
            </div>
        </div>
    </div>
</section>